<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <style>
    .mycustomcard{
      min-height:3cm;
      border-color:grey;
      border-width:2px;
      box-shadow: 2px 2px 5px grey;
    }
    </style>
  </head>
<body ng-app="NarrowItDownApp">
   <div class="container" ng-controller="NarrowItDownController as narrower">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <div class="form-group">
      <input ng-model="narrower.searchTerm" type="text" placeholder="search term" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="narrower.finder()">Narrow It Down For Me!</button>
    </div>
    <br>

    <!-- found-items should be implemented as a component -->
    <found-items found-items="narrower.found" on-remove="narrower.remover(index)"></found-items>
  </div>
  <script src="angular.js"></script>
  <script src="app.js"></script>
</body>
</html>
